$font-size-h1: 2.5rem;
$font-size-h2: 2rem;
$font-size-h3: 1.75rem;
$font-size-h4: 1.5rem;
$font-size-h5: 1.25rem;
$font-size-h6: 1rem;
$font-size-paragraph: 1rem;
$font-size-small: 0.875rem;

$font-family-heading: "Montserrat", sans-serif;
$font-family-text: "Montserrat", sans-serif;

$font-weight-thin: 100;
$font-weight-extralight: 200;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-extrabold: 800;
$font-weight-black: 900;

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-heading;
  font-weight: $font-weight-regular;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

h4 {
  font-size: $font-size-h4;
}

h5 {
  font-size: $font-size-h5;
}

h6 {
  font-size: $font-size-h6;
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-weight: $font-weight-bold; 
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
  font-style: italic;
}

h1 strong em, h2 strong em, h3 strong em, h4 strong em, h5 strong em, h6 strong em {
  font-weight: $font-weight-bold;
  font-style: italic;
}

p {
    font-family: $font-family-text;
    font-size: $font-size-paragraph;
    font-weight: $font-weight-regular; 
  }
  
  .small {
    font-family: $font-family-text;
    font-size: $font-size-small;
    font-weight: $font-weight-regular; 
  }
  
  p strong {
    font-weight: $font-weight-bold; 
  }
  
  .small strong {
    font-weight: $font-weight-bold;
  }
  
  p em {
    font-style: italic;
  }
  
  .small em {
    font-style: italic;
  }
  
  p strong em {
    font-weight: $font-weight-bold;
    font-style: italic;
  }
  
  .small strong em {
    font-weight: $font-weight-bold;
    font-style: italic;
  }
  