@font-face {
  font-family: 'Agrandir Wide Light';
  src: url('../assets/fonts/Agrandir-Wide-Light-300.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Agrandir Wide Black Italic';
  src: url('../assets/fonts/Agrandir-Narrow-400.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Agrandir Tight';
  src: url('../assets/fonts/Agrandir-Regular-400.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agrandir Thin Italic';
  src: url('../assets/fonts/Agrandir-Text-Bold-700.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Agrandir Text Bold';
  src: url('../assets/fonts/Agrandir-Thin-Italic-100.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Agrandir Regular';
  src: url('../assets/fonts/Agrandir-Tight-400.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agrandir Narrow';
  src: url('../assets/fonts/AgrandirNarrow.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Agrandir Grand Light';
  src: url('../assets/fonts/Agrandir-Wide-Light-300.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}
