@font-face {
    font-family: 'Agrandir Narrow';
    src: url('../../assets/fonts/AgrandirNarrow.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

.hola {
    font-family: 'Agrandir Narrow', sans-serif !important;
    color: aliceblue;
  }
  