@font-face {
    font-family: 'Agrandir Grand Light';
    src: url('../../assets/fonts/AgrandirGrandLight.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }

  .h1 {
    font-family: 'Agrandir Grand Light', sans-serif !important;
    color: #f2f2f2;
    font-size: 7.25rem; 
    line-height: 1;
    letter-spacing: 1.0625rem; 
}

.circle {
    display: inline-flex;
    width: 6.875rem;
    height: 6.875rem; 
    justify-content: center;
    align-items: center;
    margin-left: 0.625rem; 
    vertical-align: middle;
}
