
.custom-button {
  height: 40px !important;
  width: 150px !important;
  border-radius: 100px !important;
  background-color:  #292929 !important;
  color:  #CCDCED!important;
  font-family: "Agrandir Wide Light" !important;
  border: none !important;
  border: 2px solid  #CCDCED !important;
  cursor: pointer !important;
  transition: background-color 0.3s, color 0.3s, transform 0.2s !important;
}

.custom-button:hover {
  background-color: #AABBCC !important;
  color: #FFFFFF !important;
}

.custom-button:active {
  background-color: #8899AA !important;
  transform: scale(0.95) !important;
}

.header-line {
  border: none;
  border-top: 1px solid #CCC; 
  width: 100%;
  margin-top: 10px; 
}